
[dirs]
testdata_dir = /kpfdata/testdata

# used as a workspace for creating the masters
data_workspace = /kpfdata/data_workspace

# The permanent (not work) directory of the masters
masters_perm_dir = /kpfdata/masters

# The base directory of the pipeline code
kpfdrp_dir = /code/KPF-Pipeline/default

# The path to the reference fits files
reference_fits_dir = /kpfdata/reference_fits

# logs root
logs_root = /kpfdata/data_workspace/logs

# data root directory
data_root = /kpfdata

# DRP products directory
data_drp = /kpfdata/data_drp

# location to copy all logs to
logs_base = /kpfdata/logs

# location of the psql database
database_dir = /code/KPF-Pipeline/database

[docker_names]
# The base name of the container name
lev0_container_base = kpfmastersdrp_lev0
lev1_container_base = kpfmastersdrp_lev1
wls_container_base = kpfmastersdrp_wls
reg_container_base = kpfmastersdrp_reg
nightly_container_base = kpfnightly_drp

[db]
# The database user
dbuser = kpfdrprun

# The database name
dbname = kpfopsdb

