astropy==3.2.2
pandas==1.0.4
numpy==1.18.1
lmfit==1.0.1
xlsxwriter
matplotlib
scipy
GitPython
pytest
python-dotenv
pytest
pytest-cov
pytest-parallel
coveralls
barycorrpy

# Documentation
sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon

# Framework
# --TODO-- tracking master for now. Need to settle on a release in the future 
git+https://github.com/Keck-DataReductionPipelines/KeckDRPFramework.git@master

