astropy==4.0.4
pandas==1.0.4
numpy==1.18.1
lmfit==1.0.1
xlsxwriter
matplotlib
scipy
GitPython
pytest
python-dotenv
pytest
pytest-cov
coveralls==2.2.0
barycorrpy
photutils

# Documentation
sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon

# Framework
# --TODO-- tracking master for now. Need to settle on a release in the future 
git+https://github.com/Keck-DataReductionPipelines/KeckDRPFramework.git@master

