# Default configuration for Order Trace

## logger related configurations
[LOGGER]
start_log = True
log_path = logs/radial_velocity_debug.log
log_level = debug
log_verbose = True

## Module related parameters
[PARAM]
instrument = KPF

## neid related parameters
[KPF]
starname = Sun
star_rv = 0.0
#obslon = -155.474719
#obslat = 19.8260
#obsalt = 4145.0

obslat = 37.8806
obslon = -122.2448
obsalt = 1000.0

star_config_file = neid_stars.config
stellarmask_dir = stellarmasks/
ra = star/ra
dec = star/dec
pmra = star/pmra
pmdec = star/pmdec
parallax = star/plx
epoch = star/epoch
mask = star/default_mask
step = 0.25
step_range = [-402, 402]
mask_width = 0.5
ccf_engine = c
air_to_vacuum = True
reweighting_ccf_method = ccf_max
start_vel = -100.0






