# Default configuration for Order Trace

## logger related configurations
[LOGGER]
log = True
log_path = logs/order_trace.log
log_level = info
log_verbose = True

## Module related parameters
[PARAM]
instrument = PARAS
filter_par = 20
locate_cluster_noise = 0.0
cluster_mask = 1
trace_v_gap = 8
width_default = 7
fit_error_threshold = 2.5
sigma_for_width_estimation = 3.0
max_order_distance = -1


## debug related configurations
[DEBUG]

