
# Pipeline logger configurations
[LOGGER]
start_log = True
log_path = logs/pipe_log.log
log_level = debug
log_verbose = True

# Framework related configurations
[FRAMEWORK]
config_path = configs/framework.cfg
log_config = configs/framework_logger.cfg

# Pipeline parameters
[PIPELINE]
pipeline_name = KPF-Pipe
mod_search_path = modules

# file
[ARGUMENT]

[MODULES]
