# Pipeline logger configurations
[LOGGER]
start_log = True
log_path = logs/pipe_log.log
log_level = info
log_verbose = True

[ARGUMENT]
data_type = KPF

channel_orientation_ref_path_red = /test_biasflats/kpfsim_ccd_orient_red_2amp.txt
channel_orientation_ref_path_green = /test_biasflats/kpfsim_ccd_orient_green.txt
all_bias_files_path = /test_biasflats/test_poisson*.fits
all_flat_files_path = /test_biasflats/L0_sim_flat*.fits
pl_overscan_reg_green = [2040,2140]
srl_overscan_reg_green = [2040,2140]
prescan_reg = [0,4]
pl_overscan_reg_red = [4080,4180]
srl_overscan_reg_red = [2040,2140]
overscan_method = median
overscan_order = 1
overscan_clip = 5
lev0_ffi_ext_red = ['RED_CCD']
lev0_ffi_ext_green = ['GREEN_CCD']
quicklook = False
gain_keyword = 'CCDGAIN'

[MODULE_CONFIGS]
bias_subtraction = modules/bias_subtraction/configs/default.cfg
flat_fielding = modules/flat_fielding/configs/default.cfg

