[LOGGER]
log = True
log_path = logs/calibrations.log
log_level = info
log_verbose = True

[PARAM]
linefunc = gaussian
# polyorder: x = pixel, m = order, f = fiber
polyorder_x = 6
polyorder_m = 3
polyorder_f = 2