## Pipeline logger configurations
[LOGGER]
start_log = True
log_path = pipeline.log
log_level = info
log_verbose = True
log_directory = /data/logs/

[ARGUMENT]
data_type = KPF
overwrite = True

# path to input and output data
output_dir = /testdata/
input_dir = /data/

# Files
wls1_file = 'masters/20240101/kpf_20240101_master_WLS_autocal-lfc-all-eve_L1.fits'
wls2_file = 'masters/20240101/kpf_20240101_master_WLS_autocal-lfc-all-morn_L1.fits'
obsid_l1 = 'KP.20240101.24368.88' # stellar observation (10476)

# WAVE extensions
wave_ext = ['GREEN_SCI_WAVE1', 'GREEN_SCI_WAVE2', 'GREEN_SCI_WAVE3', 'GREEN_SKY_WAVE', 'GREEN_CAL_WAVE', 'RED_SCI_WAVE1', 'RED_SCI_WAVE2', 'RED_SCI_WAVE3', 'RED_SKY_WAVE', 'RED_CAL_WAVE']

[MODULE_CONFIGS]
wls = modules/wavelength_cal/configs/default.cfg
