# Pipeline logger configurations
[LOGGER]
start_log = True
log_path = pipeline.log
log_level = info
log_verbose = True
log_directory = /data/logs/

[ARGUMENT]
data_type = KPF
cal_file_level = 1
contentbitmask = 3
cal_type_pair = ['WLS','cal-lfc-morn']

[MODULE_CONFIGS]
query_db_one_nearest_master_file = database/modules/query_db_one_nearest_master_file/configs/default.cfg



