# Default configuration for Order Trace

## logger related configurations
[LOGGER]
log = True
log_path = logs/optimal_extraction.log
log_level = info
log_verbose = True

## Module related parameters
[PARAM]

## debug related configurations
[DEBUG]
debug = True
debug_path = neid_debug.txt
time = True
time_path = neid_debug.txt
